@font-face {
    font-family: 'hoonwhitecatr';
    src: local('hoonwhitecatr'),
        url('../fonts/hoonwhitecatr.woff2') format('woff2'),
        url('../fonts/hoonwhitecatr.woff') format('woff'),
        url('../fonts/hoonwhitecatr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}